h1 {
  font-size: 22px; }

.header.index {
  background: url(../img/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.fertilizers > .header {
  background: url(../img/fertilizers/urea-1.jpeg) no-repeat center center fixed;
  background-size: cover; }

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%; }
  .header .logo {
    max-width: 400px;
    width: 80%; }
  .header h1 {
    font-size: 40px; }

.about {
  padding: 50px 0;
  text-align: center; }
  .about .lead {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }

/* Seeds section *? */
.seeds-section {
  padding-top: 50px; }
  .seeds-section .seeds-white-corn, .seeds-section .seeds-yellow-corn, .seeds-section .seeds-sorghum {
    background-size: 100% auto;
    text-shadow: 0px 0px 4px #fff;
    font-size: 18px;
    padding: 20px 0 10px 0;
    min-height: 300px; }
    .seeds-section .seeds-white-corn ul, .seeds-section .seeds-yellow-corn ul, .seeds-section .seeds-sorghum ul {
      padding-left: 0; }
      .seeds-section .seeds-white-corn ul li, .seeds-section .seeds-yellow-corn ul li, .seeds-section .seeds-sorghum ul li {
        list-style-type: none; }
    .seeds-section .seeds-white-corn .btn-link, .seeds-section .seeds-yellow-corn .btn-link, .seeds-section .seeds-sorghum .btn-link {
      padding-top: 0;
      padding-bottom: 0; }
  .seeds-section .seeds-white-corn {
    background-image: url(../img/seeds/white-corn-min.jpg); }
  .seeds-section .seeds-yellow-corn {
    background-image: url(../img/seeds/yellow-corn-min.jpg); }
  .seeds-section .seeds-sorghum {
    background-image: url(../img/seeds/sorghum-min.jpg); }

.fertilizers > .info {
  padding-top: 50px; }
  .fertilizers > .info .container {
    max-width: 900px; }
  .fertilizers > .info .header p {
    font-size: 18px;
    margin-bottom: 24px; }
  .fertilizers > .info .header h2 {
    font-weight: bold; }
  .fertilizers > .info .description {
    font-size: 16px;
    margin-bottom: 18px; }
  .fertilizers > .info .header, .fertilizers > .info .description {
    padding-left: 20px;
    padding-right: 20px; }
  .fertilizers > .info .carousel {
    margin-bottom: 50px; }

.gallery-carousel .carousel-img {
  border-radius: 8px; }

.gallery-carousel .right, .gallery-carousel .left {
  background: none; }

@media screen and (min-width: 992px) {
  .gallery-carousel p {
    font-size: 16px; } }

/* Callout */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/section-agroquimicos.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.modal .modal-header > h4 {
  margin-top: 0;
  margin-bottom: 0; }
